.card
  position: relative
  background: #fff
  border-top: 5px solid #2999d6
  padding: 30px 20px 1px
  color: #303030
  font-family: $main_font

  &__pic
    position: absolute
    z-index: 0
    right: 0
    top: 20px
    pointer-events: none

  &__title
    font-size: 14px
    font-weight: 500
    line-height: 18px
    max-width: calc(100% - 35px)
    margin-bottom: 25.5px
    min-height: 54px

  &__subtitle
    font-size: 13px
    font-weight: 500
    line-height: 15px
    padding: 12px 0
    margin: 0 -4px
    border-top: 1px solid #eaeaea

  &__counter
    font-size: 42px
    font-weight: 700
    line-height: 28px
    letter-spacing: 0.21px
    margin-bottom: 16px
    &--bigger
      font-size: 44px

  &__diagram
    min-height: 224px
    padding: 17px 0 23px
    margin: 0 -2px

  &__list
    margin: 0 -20px
    
    li
      overflow: hidden
      position: relative
      padding: 11px 13px 11px 18px
      color: #8a8e90
      font-size: 12px
      font-weight: 400
      line-height: 15px
      letter-spacing: 0.06px

      &:not(:first-child)
        margin-top: 1px

      &:before
        content: ''
        height: 1px
        background: #eaeaea
        position: absolute
        z-index: 2
        top: 0
        left: 13px
        right: 18px

      div
        display: flex
        justify-content: space-between

      span
        position: absolute
        top: 0
        left: 0
        z-index: 2
        height: 100%
        width: 5px
        order: 1

      &:nth-child(1) span
        background: #2999d6
      &:nth-child(2) span
        background: #7bbee2
      &:nth-child(3) span
        background: #29c8d6
      &:nth-child(4) span
        background: #0ac883
      &:nth-child(5) span
        background: #46a06a
      &:nth-child(6) span
        background: #b5c97d

      p
        margin: 0
        text-align: left

      b
        min-width: 40px
        color: #303030
        font-size: 18px
        font-weight: 700
        text-align: right
        line-height: 1
        margin-left: 10px
        margin-top: 2px

  &--additional
    border-color: #d5dce0
    .card__title
      min-height: auto
    .card__list
      li
        border-color: transparent !important

