.grid
  margin: 0 -10px
  @media screen and ( max-width: $sm-max )
    margin: 0 -15px

  &__item
    margin: 0 10px
    display: none
    @media screen and ( max-width: $sm-max )
      width: calc(100vw - 80px) !important

  &.slick-initialized .slick-slide
    display: block
