.grid
  margin: 0 -10px
  animation-duration: 1s
  animation-fill-mode: both
  @media screen and ( max-width: $sm-max )
    margin: 0 -15px

  &__item
    margin: 0 10px
    display: none
    @media screen and ( max-width: $sm-max )
      width: calc(100vw - 80px) !important

  &.slick-initialized 
    .slick-track
      display: flex
      align-items: stretch
      @media screen and ( max-width: $sm-max )
        display: block
    .slick-slide
      display: flex
      flex-direction: column
      height: auto
      @media screen and ( max-width: $sm-max )
        display: block

