.grid
  display: flex
  justify-content: space-between
  margin: 0 -10px
  @media screen and ( max-width: $sm-max )
    margin: 0 -15px

  &__item
    margin: 0 10px
    @media screen and ( max-width: $sm-max )
      width: 75vw !important


  .animated
    @media screen and ( max-width: $sm-max )
      animation-name: none;
      visibility: hidden
