$container-max-width: 970px

$sm-max: 969px
$sm-min: 768px

$xs-max: 767px
$xxs-max: 480px

$main_font: "Fira Sans", Arial, sans-serif

$btn_bg: #e70067
$btn_bg_hover: lighten($btn_bg, 10%)
$btn_color: #fdfffc
